---
layout: page
title: Story Map
order: 4
---

/* Iframe */
 .container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 100%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 1171px;
  height: 2000px;
  border: none;
}
