---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* Fonts */
$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: sans-serif;
$regular-font-size: 1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */

/* Iframe */
  body{
        margin: 0; /* Remove default margin */
    }
    iframe{
        display: block;  /* iframes are inline by default */
        height: 100vh;  /* Set height to 100% of the viewport height */
        width: 100vw;  /* Set width to 100% of the viewport width */
        border: none; /* Remove default border */
        background: lightyellow; /* Just for styling */
    }
/*
  Color

  Make sure to leave color-scheme in `_config.yml` file empty for granular control
*/

$text-color: #454545;
$heading-color: #404040;
$link-color: #841212;

@import "ed";
@import "syntax";
