---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/
/* iframe (maps) */
.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 100%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
/* Fonts */
$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: sans-serif;
$regular-font-size: 1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */

/*
  Color

  Make sure to leave color-scheme in `_config.yml` file empty for granular control
*/

$text-color: #454545;
$heading-color: #404040;
$link-color: #841212;

@import "ed";
@import "syntax";
